# Ignoro tutti i file word nella cartella diari
/diari/docx

# Ignoro i file di mac
.DS_Store

# Ignoro la cartella vendor
/codice/vendor
/codice/composer.lock

# Ignoro il file di config corrente
/codice/config.php